h1{
    text-align: center;
    color: red;
}

p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

img{
    margin-left: 400px;
    border: 2px solid black;
    border-radius: 20px;
}